:root{
    ---purpleColor: #231738;
    ---blueColor: #9ED7F5;
    ---whiteColor: #FDFDFF;
    ---salmonColor: #F57B88;
    ---pinkColor: #ff69b4;
    ---blackColor: #181818;
    ---darkgreenColor: #1D361D;
    ---greenColor: #3f873f;
    ---oliveGreenColor: #7A9F24;
    ---brownColor: #6C480F;
    ---lightbrownColor: #9f683e;
    ---baby1: url('../img/tiger.jpg');
    ---baby2: url('../img/IS-2.jpg');
    ---baby3: url('../img/panzer.jpg');
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(---greenColor);
    color: var(---blackColor);
}

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(---greenColor);
}

#registro{
    background: var(---baby1) no-repeat center/cover;
    width: 100vh;
}

#login{
    background: var(---baby2) no-repeat center/cover;
    width: 100vh;
}

#feria{
    background: var(---baby3) no-repeat center/cover;
    width: auto;
}

.text{
    color: var(---purpleColor);
    background-color: var(---greenColor);
    animation: ccolor 4s infinite;
    font-size: 31px;
    padding-left: 50px;
}
.green{
    color: var(---greenColor);
}
.darkGreen{
    color: var(---darkgreenColor);
}
.darkGreen:hover{
    color: var(---greenColor);
}
::selection{
    background-color: var(---oliveGreenColor);
}

.user{
    background-color: var(---greenColor);
}

/* .card {
 width: auto;
 background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
 border-radius: 20px;
 transition: all .3s;
 margin: 0px!important;
 padding: 0px !important;
 border-bottom: 0px !important;
}

.card2 {
 width: auto;
 background-color: var(---whiteColor);
 border-radius: 5px;
 transition: all .2s;
} */
.card-title{
    color: var(---darkgreenColor) !important;
}
.card-text{
    color: var(---greenColor);
}
/* .card2:hover {
 transform: scale(0.98);
 border-radius: 20px;
}

.card:hover {
 box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
} */

@keyframes ccolor{
    0%   {background-color: var(---oliveGreenColor);}
    25%  {background-color: var(---greenColor);}
    50%  {background-color: var(---darkgreenColor);}
    75%  {background-color: var(---lightbrownColor);}
    90%  {background-color: var(---brownColor);}
    100% {background-color: var(---oliveGreenColor);}
}
