
$primary: #1D361D;
$tertiary: #ff69b4;

$bs-table-border-color: #000000;
.rowy{
$bs-gutter-x: 0.5rem;
$bs-gutter-y: 0;
$display: flex;
$flex-wrap: wrap;
$margin-top: calc(-1 * var(--bs-gutter-y));
$margin-right: calc(-0.5 * var(--bs-gutter-x));
$margin-left: calc(-0.5 * var(--bs-gutter-x));
}
@import 'bootstrap/scss/bootstrap';
